<% include partials/header2 %>

<div class="container">
	<div class="jumbotron" id="jumbo">
		<h1>Order List<a href="/order/today" class="ui massive orange button right floated">Today's Orders</a></h1>
	</div>

	<div class="row text-center">
		<% list.forEach(function(item){ %>
			<div class="col-lg-4 col-sm-6">
				<div class="thumbnail">
					<a href="/order/<%= item._id %>">
					<div class="caption">
						<h4><%= item.name %></h4>
						<p> 
							<strong>Date: </strong>
							<%= item.date.toDateString() %>
							  —  <strong>Period: </strong>
							<%= item.period %>
						</p>
						<p>Created by <%= item.author.username %></p>
					</div>
					</a>
				</div>
			</div>
		<% }) %>
	</div>
	<a class="ui huge secondary button btn-block" href="/order/new">New Order</a>
	<p></p>
</div>

<%include partials/footer %>
